:root {
  --primary: #54b8ae;
  --grey: #e3e3e3;
}
/* over write classes */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

/* components (reusable classes) */
.button {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  font-weight: 600;
  padding: 4px 10px;
  cursor: pointer;
}

.button--outlined {
  color: white;
  border: 2px solid white;
}

.button:hover {
  background-color: var(--grey);
}

.button--outlined:hover {
  background-color: red;
}
/* utility classes */
.container {
  width: 1100px;
  margin: 0 auto;
  max-width: 100%;
}

.section-heading {
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
}

.margin-left-30 {
  margin-left: 30px;
}
/* header styles */
.header {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.header-item {
  font-weight: 600;
}

.header-item:hover {
  color: var(--primary);
}

.header-container {
  display: flex;
  justify-content: flex-end;
}
/* hero section style */
.hero-section {
  padding: 20px;
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
}

.hero-container {
}

.hero-text {
  font-weight: 600;
  font-size: 36px;
  display: flex;
  flex-direction: column;
}

.hero-highlited-text {
  color: var(--primary);
}

/* about section */

.about-section {
  padding: 20px;
  background-color: var(--primary);
  color: white;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: flex;
}

.about-text-container {
  width: 500px;
  margin-left: 60px;
}

.about-text {
  max-width: 100%;
}
.about-image-wrapper {
  height: 200px;
  width: 200px;
}
/* project section */
.project-section {
}

.project-container {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-description {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 40px;
}

.project-text-container {
  width: 500px;
}

.project-image-wrapper {
  height: 220px;
  width: 320px;
}

.project-description--reverse {
  flex-direction: row-reverse;
}
