:root {
  --primary: #54b8ae;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.header-item {
  font-weight: 600;
}

.header-item:hover {
  color: var(--primary);
}
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.section {
  margin-top: 20px;
}

.about-me {
  text-align: center;
}

.about-me img {
  width: 150px;
  border-radius: 50%;
}

.project {
  margin-top: 20px;
}

.contact-me {
  text-align: center;
}

.contact-me ul {
  padding: 0;
}

.contact-me ul li {
  display: inline;
  margin-right: 20px;
}
